* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --body-bg: #fafafa;
  --body-title: #151f39;
  --body-subtitle: #383e44;
  --body-box: #fff;
}

.dark-mod:root {
  --body-bg: #212529;
  --body-color: #899095;
  --body-box: #fff;
}

body {
  font-family: "Montserrat";
  min-height: 400px;
  background-color: var(--body-bg);
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
  position: relative;
}

.faixa {
  background-color: #151f39;
  height: 80px;
}

.caixa {
  padding: 50px 40px 40px 40px;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 45vw;
  height: 90vh;
  margin: -70px auto 0 auto;
  background-color: var(--body-box);
  box-shadow: 3px 3px 15px rgba(15, 15, 15, 0.3);
}

.page-title {
  font-size: 36px;
  color: var(--body-title);
  margin: 0 0 35px;
}

.page-subtitle {
  font-size: 18px;
  color: var(--body-subtitle);
  margin-bottom: 40px;
}

.page-logo {
  width: 200px;
  margin-bottom: 40px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

label {
  color: #fff;
  background-color: #151f39;
  padding: 11px 0px 12px 15px;
  font-size: 16px;
}

input {
  border: 1px solid var(--body-title);
  padding: 10px 0px 10px 5px;
  margin-left: 10px;
  font-size: 16px;
  outline: none;
}

.calcular {
  font-size: 16px;
  padding: 15px 50px;
  background-color: #151f39;
  color: #fff;
  margin: 30px 0px;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  transition: 0.5s;
}

.calcular:hover {
  background-color: #454953;
}

.resultado {
  font-size: 18px;
  font-weight: 500;
  color: var(--body-subtitle);
}
